<h1>Srental</h1>
<h3>依頼一覧</h3>
<%= button_to "new_order", new_order_path %>

<% if requester_signed_in? %>
<%= link_to "マイページへ", requester_path(current_requester.id) %>　
<% elsif student_signed_in? %>
<%= link_to "マイページへ", student_path(current_student.id) %>
<% end %>

<br>
<%= page_entries_info @orders %>
<div class="orders-container">
<% @orders.each do |o| %>
<div class="order">
    <%= o.requester.email %>
    <%= o.title %>
    <%= o.body %>
    <%= o.created_at %>

    <% if requester_signed_in? %>
    <% if current_requester.already_liked?(o) %>
        <%= link_to order_like_path(id: o.id, order_id: o.id), method: :delete do %>
            <p>Cancell Like</p></i><%= o.likes.count %>
        <% end %>
    <% else %>
        <%= link_to order_likes_path(id: o.id, order_id: o.id), method: :post do %>
            <p>Like</p></i><%= o.likes.count %>
        <% end %>
    <% end %>
    <% else %>
        <p>Count of Like = </p></i><%= o.likes.count %>
    <% end %>

    <%= image_tag o.image_url, size: "250x200" if o.image? %>

    <% if requester_signed_in? && current_requester.id == o.requester_id %>
        <%= button_to "Details", order_path(o.id) %>
        <%= button_to "Edit", edit_order_path(o.id) %>
    <% end %> 

    <%= button_to "Delete", order_path(o.id), method: :delete %>

    <a href="/requesters/<%= o.requester.id %>"><%= o.requester.name %></a>
</div>
<% end %>
</div>
<%= paginate @orders %>

<br><br>
<% if requester_signed_in? %>
<%= button_to 'Logout for requesters', destroy_requester_session_path, method: :delete %>
<% elsif student_signed_in? %>
<%= button_to 'Logout for students', destroy_student_session_path, method: :delete %>
<% else %>
Are you an Admin?
<% end %>