<%= stylesheet_link_tag 'index', :media => "all" %>
<h1>Srental</h1>
<h3>依頼一覧</h3>

<% if requester_signed_in? %>
<%= button_to "new_order", new_order_path %>
<% end %>

<% if requester_signed_in? %>
<%= link_to "MyPage for Requesters", requester_path(current_requester.id) %>　
<% elsif student_signed_in? %>
<%= link_to "MyPage for Students", student_path(current_student.id) %>
<% end %>

<br>
<%= page_entries_info @orders %>
<div class="orders-container">
<% @orders.each do |o| %>
<div class="order">
    <div class="main-box">
    <a href="/requesters/<%= o.requester.id %>"><%= o.requester.name %></a>
        <div class="left-container">
        <%= o.title %>
        <%= o.body %>
        </div>
            <div class="right-container">
            <p class="time"><%= o.created_at %></p>
            <% if requester_signed_in? && current_requester.id == o.requester_id %>
                <%= button_to "Details", order_path(o.id) %>
                <%= button_to "Edit", edit_order_path(o.id) %>
                <%= button_to "Delete", order_path(o.id), method: :delete %>
            <% end %> 
            </div>
    </div>
</div>


    <% if requester_signed_in? %>
    <% if current_requester.already_liked?(o) %>
        <%= link_to order_like_path(id: o.id, order_id: o.id), method: :delete do %>
            <p>Cancell Like</p></i><%= o.likes.count %>
        <% end %>
    <% else %>
        <%= link_to order_likes_path(id: o.id, order_id: o.id), method: :post do %>
            <p>Like</p></i><%= o.likes.count %>
        <% end %>
    <% end %>
    <% else %>
        <p>Count of Like = </p></i><%= o.likes.count %>
    <% end %>

    <% if student_signed_in? %>
    　<% if current_student.already_favorited?(o) %>
        　<%= link_to order_favorite_path(id: o.id, order_id: o.id), method: :delete do %>
        　<p>Cancell Favorite</p><%= o.favorites.count %>
        　<% end %>
    　<% else %>
        　<%= link_to order_favorites_path(id: o.id, order_id: o.id), method: :post do %>
            　<p>Favorite</p><%= o.favorites.count %>
        　<% end %>
    　<% end %>
　　<% else %>
    　<p>favoriteの数 = </p><%= o.favorites.count %>
　<% end %>

    <%= image_tag o.image_url, size: "250x200" if o.image? %>
    

</div>
<% end %>
</div>

<%= paginate @orders %>

<br><br>
<% if Requester %>
<%= button_to 'Logout for requesters', destroy_requester_session_path, method: :delete %>
<% elsif Student %>
<%= button_to 'Logout for students', destroy_student_session_path, method: :delete %>
<% else %>
Are you an Admin?
<% end %>