<h1>Srental</h1>
<h3>Details</h3>
<div class="order">
    <p><%= @order.id %></p>
    <p><%= @order.title %></p>
    <p><%= @order.body %></p>
    <p><%= @order.created_at %></p>
    <%= link_to "Edit", edit_order_path(@order.id) %>

    <% if requester_signed_in? %>
    <% if current_requester.already_liked?(@order) %>
        <%= link_to order_like_path(@order), method: :delete do %>
            <p>Cancell Like</p><%= @order.likes.count %>
        <% end %>
    <% else %>
        <%= link_to order_likes_path(@order), method: :post do %>
            <p>Like</p><%= @order.likes.count %>
        <% end %>
    <% end %>
<% else %>
<p>Count of Like = </p><%= @order.likes.count %>
<% end %>

<h2>Requester you're liked </h2>
    <% @order.liked_requesters.each do |requester| %>
        <li><%= requester.email %></li>
    <% end %>

<% if student_signed_in? %>
    <% if current_student.already_received?(@order) %>
        <%= link_to order_receive_path(@order), method: :delete do %>
        <p>Cancell Receiving</p><%= @order.receives.count %>
    <% end %>
<% else %>
    <%= link_to order_receives_path(@order), method: :post do %>
    <p>受注</p><%= @order.receives.count %>
    <% end %>
<% end %>
<% else %>
<p>受注した人数 = </p><%= @order.receives.count %>
<% end %>

<h2>Student you're received </h2>
<% @order.received_students.each do |student| %>
    <li><%= student.name %></li>
<% end %>
</div>

<%= link_to "orders", orders_path %>