<%= stylesheet_link_tag 'index', :media => "all" %>
<h1>DM</h1>

<% if requester_signed_in? %>
    <h3>Chat room</h3>
    <div class="chat-field">
        <% @messages.each do |m| %>
            <% if m.is_requester %>
                <div class="right-message">
                <%= m.content %>
                </div>
            <% else %>
                <div class="left-message">
                    <%= m.content %>
                </div>
            <% end %>
        <% end %>
    </div>
<% elsif student_signed_in?%>
    <h3>Chat room</h3>
    <div class="chat-field">
        <% @messages.each do |m| %>
            <% if m.is_requester %>
                <div class="left-message">
                    <%= m.content %>
                </div>
            <% else %>
                <div class="right-message">
                    <%= m.content %>
                </div>
            <% end %>
        <% end %>
    </div>
<% end %>

<%= form_for [@room, @message] do |f| %>
    <%= f.text_field :content %>
    <%= f.submit "メッセージを送る"%>
<% end %>