<!DOCTYPE html>
<html>
  <head>
    <title>Srental</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <h1>商大生レンタル掲示板</h1>
  <div class="header-list">
  <ul>
    <li><%= link_to "ホーム", orders_path %></li>
    <% if requester_signed_in? %>
    <li><%= link_to "新規依頼",orders_new_path %></li>
    <% end %>
  </ul>
  </div>
</header>
<main>
  <%= yield %>
</main>
    <footer>
      <p>Copyright © PoRtaru All Rights Reserved.</p>
    </footer>
  </body>
</html>
